
.submit-btn{
    border-radius: 5px !important;
    width: 50%;
    height:35px;
    background-color: #29C17E;
    border:1px solid #fff;
    margin:5px;
}


ion-content {
    background-color:#FFD833 !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }