.myproduct-div{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
    
  }
  .support-btn{
    border-radius: 5px !important;
    background-color: #29C17E;
    height:25px;
    width:70%;
    text-align: center;
    border:1px solid #fff;
    font-size: 12px !important;
    padding: 3px;
    margin-top:18px !important;
   
}
.name{
    color: #5C5C5C;
}
.edit-name{
    font-size: 13px;
    margin-top: 5px;
}
#edit-field{
    border:1px solid #fff;
    width:100%;
    margin-left: -20px;
    font-size: 11px;
}
#edit{
    cursor: pointer;
}

.update-btn{
    border-radius: 5px !important;
    background-color: #29C17E;
    height:25px;
    width:50%;
    text-align: center;
    border:1px solid #fff;
    font-size: 12px !important;
    padding: 3px;
    margin:15px !important;
}

ion-content {
    background-color:#FFD833 !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }
