.card{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
  }
  .offer-btn{
    margin:25px !important;
    background-color: #29C17E !important;
    border:1px solid #29C17E;
    border-radius: 5px;
  }
  .product-name{
    margin-top: -4px !important;
    text-align: center;
}
.badge{
    font-size: 10px !important;
    margin-left:15px !important;
    color:#6E7989;
}
ion-content {
  background-color:#FFD833 !important;
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
      display: none;
  }
}
input[type=text] {
  margin: 0 5px;
  margin-top: -12px;
  width: 90%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #FFD833;
}
#offer:focus {
  outline: none !important;
  border:1px solid #fff;
  box-shadow: 0 0 2px #e9f3ff;
}

.confirm-btn{
  border-radius: 5px !important;
  width: 50%;
  height:35px;
  background-color: #29C17E;
  border:1px solid #fff;
  margin:5px;
}
#card{
  position: absolute;
  background-color: #fff;
  top:15%;
  height:2000px !important;
  width:97vw;
  margin: 0 5px;
 
  
 
}