
#dynamicSpline{
    --background-color: #FFD833 !important;
    // width:370px;
    text-align: center;
    // position: flex;
    // margin-: -50px;
}

.card{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;

  }
  ion-badge{
    margin-left:15px !important;
    // font-size: 10px;
    border-radius: 2px !important;
  }
  .viewSts{
      margin-left: 15px;
  }
  ion-item{
    --border-color: #fff;
}
ion-content {
    background-color:#FFD833 !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }