.list{
    color: #272A3F;
    padding-left: 10px;
    margin-top: 20px !important;
    font-size: smaller;
}
#icon{
    background-color: rgb(197, 248, 147) !important;
    border-radius: 15px !important;
    width:25px;
    height:30px
}
ion-item{
    --border-color: #fff;
}