

<ion-content class="bg-class ">
  <div class="container">
    
    <div class="signin-div mt-5 ">
      <div>
        <p style="margin:8px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
        </svg>
        <span class="location"><b>Coimbatore, Tamilnadu</b></span></p>
      </div>

      <p class="get-started mt-2"><b>Getting Started</b></p>
      <p class="create-account" >Create an account to continue!</p>
      <div class="input-field" >
        <ion-item>
          
          <ion-label position="floating">  <ion-icon name="mail"></ion-icon> EMAIL</ion-label>
          <ion-input></ion-input>
         
        </ion-item>
    
        <ion-item>
          <ion-label position="floating"> <ion-icon name="person"></ion-icon> USER NAME</ion-label>
          <ion-input></ion-input>
         
        </ion-item>
    
        <ion-item>
          <ion-label position="floating"> <ion-icon name="call"></ion-icon>MOBILE</ion-label>
          <ion-input  type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
          </svg> PASSWORD</ion-label>
          <ion-input> </ion-input>
        </ion-item>   
      </div>

      <div class="row" >
 
        <div class="col-1 tearmsAndCondition" style="margin-left: 14px;"><ion-checkbox  color="primary"></ion-checkbox></div>
        <div class="col-8" >
          <p class="tearmsAndCondition" >By creating an account, you agree to our
            <b> Terms & Conditions</b></p>
        </div>
       </div>
       
       <div style="width:100%; text-align: center;">
        <button type="button" class="btn btn-primary  signup-btn mt-2">SIGN UP </button>
       </div>
       <p class="condition" >Already have an account? <b style="color:#171717"> Sign in</b></p>
  
      
    </div>
  </div>
  </ion-content>
  