/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    font-family: 'Roboto', sans-serif;   
}
.title{
    margin-top:80px;
}
.welcome{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.seller{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 25px;
}
.icon{
    margin:10px;
    background-color: #fff;
    border:1px solid #fff;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 10px;
}
.bg-class{
    --background: linear-gradient(to bottom, #FEC401 0%, #F0FC02 100%) !important;

  }
  .bgcolor-class{
    --background: linear-gradient(to bottom, #FEC401 0%, #FEC401 100%) !important;

  }
  .signin-div{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ccc;
    
  }
  .signin{
      color:#29C17E;
      font-size: 12px;
      margin-top:8px !important;
      
  }
  .signup{
      margin-top:8px !important;
      color:#6E7989 ;
      text-align: right;
      font-size: 12px;
      
  }
  .signin-seller{
    margin:10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #272A3F;
  }
  .emailTo-continue{
      font-size:12px;
      color:#6E7989;
      margin:10px;
  }



.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  .form-control::placeholder {
    font-size:12px;
    color:#6E7989;
    margin:10px;
  }
  .form-group{
      margin:10px;
  }
  .forgot-pw{
     color: #6E7989;
     font-size: 14px;
     margin:10px;
  }
  .signin-btn{
      background-color: #29C17E;
      margin-left:18px;
      border:1px solid #fff;
      
  }
  .new-background-color{
    --background: #FEC501 !important;
}

