.myproduct-div{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
    
  }
.card{
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #ccc;
    width:96% !important;
    margin:5px;
  }
  span{
      font-size: smaller;
  }
  .price,.product-name{
      margin-top: -10px !important;
      text-align: center;
  }
  #cross{
      cursor: pointer;
      margin-top:20px;
  }
  #cross:hover{
      color:red;
  }
  .exit-btn{
    margin:15px;
    background-color: #29C17E;
    border:1px solid #fff;
  }
  ion-content {
    background-color:#FFD833 !important;
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
  }